body {
  padding: 0;
  margin: 0;
  margin-left: 1em;
  background-color: #00688B;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.pure-control-group label {
  visibility: hidden;
}

.pure-control-group #zipcode, #city, #state, #area {
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 80%;
  font-size: 1.2em;
  background-color: #eef6fb;
  box-shadow: none;
}

.pure-control-group {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.pure-controls {
  text-align: center;
  margin-left: 0;
}


p {
  text-align: center;
  margin-left: 11em;
}

input[type="text"] {
  font-family: FontAwesome;
}

#form-wrapper {
  margin-top: 15em;
  margin-right: 5em;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera */
  -moz-animation: fadein 3s; /* Firefox */
  -ms-animation: fadein 3s; /* IE */
  animation: fadein 3s;
}

.pure-button {
  color: grey;
  border: 1px solid darkgrey;
  width: 30%;
  background-color: snow;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

#get-another {
  text-align: center;
}

.pure-button-primary {
  color: grey;
  border: 1px solid darkgrey;
  width: 80%;
  background-color: snow;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.area {
  font-size: 1.2em;
  width: 15em;
}

#forecast {
  font-family: Roboto;
  background-color: azure;
  border-radius: 10px;
  width: 20em;
  margin: auto;
  height: 10em;
  margin-top: 10em;
  padding-left: 20px;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera */
  -moz-animation: fadein 3s; /* Firefox */
  -ms-animation: fadein 3s; /* IE */
  animation: fadein 3s;
}

#current-temp {
  font-size: 56px;
  font-family: 'Open Sans', sans-serif;
}

.fa-sun-o {
  color: orange;
}

#clouds{
  position:absolute;
	padding: 100px 0;
}
.cloud {
	width: 100px;
  height: 30px;
	background: #fff;
  top: -280px;

	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;

	position: relative;
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute;
	background: #fff;
	width: 50px;
  height: 40px;
	position: absolute;
  top: -7px;
  left: 5px;

	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;

	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 60px;
  height: 60px;
	top: -25px;
  left: auto;
  right: 7px;
}

.x1 {
  left: 200%;
  -webkit-animation: moveclouds 30s linear infinite;
  -moz-animation: moveclouds 30s linear infinite;
}

.x2 {
  left: 230%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;

  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
}

.x3 {
  left: 280%;
  top: -250px;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;

  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
}

.x4 {
  left: 200%;
  top: -300px;

  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  -webkit-animation: moveclouds 30s linear infinite;
  -moz-animation: moveclouds 30s linear infinite;
}

.x5 {
  left: 250%;
  top: -320px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
}

@media screen and (min-width: 480px) {
  #weather-form > div.pure-controls {
    margin-left: 0;
  }
}

@keyframes moveclouds {
  0% { margin-left: 500%;}
  100% {margin-left: -500%;}
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
